/* CSS reset */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;}

body {
    background-color: rgba(255, 255, 0, 0.1);
}

p {
    margin: 50px 40px; /* matches padding in nav */
    color: #737f6b;
    text-align: justify;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    background-color: #819377;
    height: 6rem;
}

nav a {
    display: flex;
    align-items: start;

    color: white;
    height: 5rem;
    width: 200px;
    background-color: goldenrod;
    border: 2px solid orange;

    padding: 15px;
    text-decoration: none;
    font-size: 2rem;

}

nav a:hover {
    color: #819377;
    background-color: white;
}

.non_active_page {
    color: rgba(245, 248, 255, 0.9);
    text-decoration-line: none;
}

.active_page {
    color: #06285e;
    text-decoration-line: none;
}

p {
    font-size: 1.3rem;
    line-height: 2rem;
}



